node_modules
vendor
.env
.git
.github
storage/*.key
deployment/*.conf
docker-compose*.yml
public/build
public/storage
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
.phpunit.result.cache
tests
Dockerfile
deployment/Dockerfile
README.md
